.modal_bg{
    position:absolute;
    display:none;
    z-index:1000;
    left:0;
    top:0;
    background-color:#A8A8A8;
  }
  .modal_window{
    position:absolute;
    display:none;
	left:50%;
    z-index:1100;
    width:400px;
    margin-left:-200px;
    height:150px;
    background:#ffffff;
	text-align:center;
	font-size:large;
  }

button{
	display:block;
	margin-top:30px;
	height:30px;
	margin-left:180px;
}
label{
	display:block;
	margin-top:50px;
}